<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multas de Trânsito</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<aside>
    <h1>Multas de Trânsito</h1>

    <form action="/consult" method="get">
        <div>
            <label for="vehiclePlate">Placa do Veículo:</label>
            <input type="text" name="vehiclePlate" required pattern="\w{3}-\d{4}" placeholder="AAA-9999">
        </div>
        <input type="submit" value="Consultar">
    </form>

 <% if(placa) { %>
    <section>
        <h2 id="vehiclePlate"><%=placa.vehiclePlate%></h2>
        <p>Inflação: <span id="violation"><%=placa.violation%></span></p>
        <p>Pontos: <span id="points"><%=placa.points%></span></p>
        <p>Valor: R$ <span id="value"><%=placa.value%></span></p>
        <p>Valor c/ desconto: R$ <span id="discountValue"><%=placa.value*0.9%></span></p>
    </section>

    <% } else if(submitted){ %>
        <h2>Veículo Não Encontrado</h2>

    <% } else { %>
    <section>
        <h2 id="vehiclePlate">HJT-6924</h2>
        <p>Inflação: <span id="violation">DIRIGIR VEICULO SEM POSSUIR CNH OU PERMISSAO PARA DIRIGIR</span></p>
        <p>Pontos: <span id="points">7</span></p>
        <p>Valor: R$ <span id="value">880.41</span></p>
        <p>Valor c/ desconto: R$ <span id="discountValue">793.32</span></p>
    </section>
    <% } %>

</aside>

</body>
</html>